.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1064px;
  width: 100%;
  margin: 0 auto;

  padding: 24px 20px;
}

.nav a {
  color: #8257E5;
}

.content {
  max-width: 776px;
  width: 100%;
  margin: 0 auto;
  padding: 24px 20px;
}

.content h1 {
  margin-bottom: 20px;
}

.content h2 {
  font-size: 24px;
}

.content p {
  margin: 20px 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1064px;
  width: 100%;
  margin: 0 auto;
  padding: 24px 20px;
}

.modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFF;
  padding: 50px;
  border-radius: 5px;
  color: #555;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
}

.termsButton {
  color: #996DFF;
  font-size: 1.2rem;
  background:none;
  border:none;
  margin:0;
  padding:0;
}

.description {
  text-align: justify;
  margin: 10px 0;
}

.closeModalButton {
  width: 30%;
  padding: 12px 20px;
  margin-top: 16px;
  background-color: #8257E5;
  color: #FFF;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
}
